@import "./variables.scss";
@import "./globals.scss";

.container {
  min-height: 100vh;
  width: 85%;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 1rem;
  @include breakpoint(mediumBP) {
    width: 100%;
    height: auto;
  }
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .search1 {
      border: 1px solid #e4e4e4;
      border-radius: 0.6rem;
      width: 50%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 1rem;
      input {
        outline: none;
        font-size: 14px;
      }
    }
    .search2 {
      width: 50%;
      display: none;
      text-align: end;
      font-size: 1.5rem;
      :hover {
        color: #fabc1e;
      }
      cursor: pointer;
      @include breakpoint(mediumBP) {
        display: block;
      }
    }
  }

  &__hr {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 1rem 0;
  }

  &__coins {
    width: 100%;
    h1 {
      font-size: 21px;
      color: #1a1a1a;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
  }
}
