@import "./globals.scss";
@import "./variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;

  &__search {
    input {
      width: 50%;
    }
  }

  .image {
    width: 2rem;
  }
}
