@import "./variables.scss";
@import "./globals.scss";

.containerclose {
  display: none;
}

.container {
  min-height: 100vh;
  width: 85%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  @include breakpoint(mediumBP) {
    padding: 0.5rem;
  }
  @include breakpoint(mediumBP) {
    width: 100%;
    height: auto;
  }
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &__hr {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 1rem 0;
  }

  &__coins {
    width: 100%;
    .currency {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      h1 {
        font-size: 21px;
        color: #1a1a1a;
        font-weight: 600;
      }

      .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        button:hover {
          color: #fabc1e;
        }

        &__button {
          &--open {
            display: none;
          }
        }

        &__content {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: row;
          min-width: 150px;
          height: auto;
          max-width: 25%;
          &--open {
            z-index: 1;
          }
          &--close {
            display: none;
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .pageindicator {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      &:hover {
        color: #fabc1e;
      }
    }

    h1 {
      margin: 0 1rem;
      font-weight: 500;
    }
  }
}
