@import "./variables.scss";
@import "./globals.scss";

@keyframes slideInFromBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotatecenter {
  0% {
    transform: rotate(0deg) translate(-175px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-175px) rotate(-360deg);
  }
}

@keyframes rotatecenter2 {
  0% {
    transform: rotate(0deg) translate(-225px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-225px) rotate(-360deg);
  }
}

@keyframes rotatecenter3 {
  0% {
    transform: rotate(0deg) translate(-125px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-125px) rotate(-360deg);
  }
}

.container {
  min-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  // animation
  &__svg {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    .svg1 {
      cursor: pointer;
      & svg {
        width: 100px;
        height: 100px;
      }
    }

    .svg2 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 350px;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #6154f0;
      border-radius: 50%;

      & svg {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        animation: rotatecenter 6s linear infinite;
      }
    }

    .svg3 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 450px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #1ecb4f;
      border-radius: 50%;

      & svg {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        animation: rotatecenter2 7s linear infinite;
      }
    }

    .svg4 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 250px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #3855ec;
      border-radius: 50%;

      & svg {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        animation: rotatecenter3 5s linear infinite;
      }
    }
  }

  &__box {
    background: linear-gradient(
      112.53deg,
      rgba(224, 223, 223, 0.5) 4.91%,
      rgba(255, 255, 255, 0) 135.61%
    );

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    color: black;
    width: 420px;
    height: 500px;
    padding: 1rem 2rem 2rem 2rem;
    position: absolute;
    top: 18rem;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromBottom;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    .logo {
      width: 100%;
      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        &::first-letter {
          font-weight: 700;
        }
      }
    }

    .select {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      button {
        width: 50%;
        height: auto;
        font-weight: 500;
        &:hover {
          background-color: rgba(110, 36, 36, 0.1);
          color: rgb(114, 89, 89);
        }
      }
    }

    .google {
      width: 100%;
      margin: 2rem 0;
      button {
        background-image: linear-gradient(
          92.88deg,
          #455eb5 9.16%,
          #5643cc 43.89%,
          #673fd7 64.72%
        );
        border-radius: 8px;
        border-style: none;
        color: #ffffff;
        cursor: pointer;
        flex-shrink: 0;
        font-weight: 500;
        height: 2.5rem;
        width: 100%;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all 0.5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      &:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: 0.1s;
      }
    }
  }

  .emailsign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    input {
      padding: 0.5rem;
      outline: auto;
      border-radius: 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
      width: 100%;
    }

    button {
      background-image: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
      border-radius: 8px;
      border-style: none;
      color: #ffffff;
      cursor: pointer;
      flex-shrink: 0;
      font-weight: 500;
      height: 2.5rem;
      width: 100%;
      padding: 0 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all 0.5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      &:hover {
        box-shadow: rgba(90, 182, 224, 0.5) 0 1px 30px;
        transition-duration: 0.1s;
      }
    }
  }

  .withoutlogin {
    margin-top: 3rem;
    margin-left: 1rem;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
      color: #3855ec;
      cursor: pointer;
    }
  }
}
