@import "./variables.scss";
@import "./globals.scss";

.containerclose {
  display: none;
}

.container {
  min-height: 100vh;
  width: 85%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  padding-right: 2rem;
  @include breakpoint(mediumBP) {
    padding: 0.5rem;
  }
  @include breakpoint(mediumBP) {
    width: 100%;
    height: auto;
  }
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  &__hr {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 1rem 0;
  }

  &__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    @include breakpointSM(smallBP) {
      flex-direction: column;
      .networth {
        margin-bottom: 1rem;
        margin-left: 0;
        text-align: left;
      }
    }
    .networth {
      margin-left: 2rem;
      &__total,
      &__net {
        h2 {
          font-size: 20px;
          font-weight: 400;
        }
        h1 {
          font-size: 24px;
          font-weight: 500;
          display: flex;
          align-items: center;

          .usd {
            font-size: 18px;
            font-weight: 400;
            margin: 0 0.5rem;
          }
          .perpositive {
            font-size: 16px;
            background-color: #1fcb50;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            color: white;
          }
          .pernegative {
            font-size: 16px;
            background-color: #ff8f50;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            color: white;
          }
        }
      }
    }
    .pie {
      @include breakpoint(mediumBP) {
        width: 250px;
        height: 250px;
      }
    }
  }
}
