@import "./variables.scss";
@import "./globals.scss";

.container {
  min-height: 100vh;
  min-width: 80%;
  width: 85%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  @include breakpoint(mediumBP) {
    padding: 0.5rem;
  }
  @include breakpoint(mediumBP) {
    width: 100%;
    height: auto;
  }
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  &__hr {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 1rem 0;
  }
}
